{% extends 'myapp/main_template.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO Practise</title>
</head>

<body>
    <h1>Application Setting</h1>

    <div>
    <form action="" method="post">
    id : <input type="name" name="namee"><br><br>
    module: <input type="email" name="emaill"><br><br>
    setting_name : <input type="number" name="agee"><br><br>
    setting_value : <input type="number" name="phno"><br><br>
    setting_value : <input type="number" name="phno"><br><br>
    is_enabled : <input type="option" name="phno"><br><br>
    <button type="submit">send to backend</button>
</form>
</div>
</body>
</html>
<body>

</body>
</html>

{% endblock %}